.App {
  height: 100%;
  width: 100%;
}

.wall_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.graph_area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph_area_horizontal_half {
  flex: 1;
}